.formulario{
  width: 18.0em;
  height: 17em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #E9ECEF;
  border-radius: 4px;
  margin-top: 40px;
  padding: 25px;
}

.containerPreco{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}

.containerLabel{
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputDescricao{
  width: 21em;
  height: 3.1em;
  background-color: #F8F9FA;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}

.inputValor, .select{
  width: 8.1em;
  height: 3.1em;
  background-color: #F8F9FA;
  border: none;
  border-radius: 8px;
}

.labelEx{
  font-size: 12px;
  color: #868E96;
  margin-bottom: 18px;
}

.option{
  border-radius: 0;
}

.btnSubmit{
  width: 17.6em;
  height: 3.1em;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.btnSubmit:hover{
  background-color: #FD377E;
  color: #FFFFFF;
}